<section class="cabins" id="cabins">
  <div class="cabins_container container">
    <h2 class="title-h2">Nasze kabiny</h2>
    <div class="cabins_content">
      <div class="swiper swiper-cabins">
        <div class="swiper-wrapper swiper-wrapper-cabins">
          <div class="swiper-slide swiper-slide-cabins">
            <h3>LEŚNA CISZA</h3>
            <p>(2 osoby)</p>
          </div>

          <div class="swiper-slide swiper-slide-cabins">
            <h3>ZIOŁOWY DOMEK</h3>
            <p>(4 osoby, aromaterapia)</p>
          </div>

          <div class="swiper-slide swiper-slide-cabins">
            <h3>OGIEŃ I PARA</h3>
            <p>(8 osób, eventy)</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-cabins"></div>
    </div>
  </div>
</section>
