<section class="contact" id="contacts">
  <div class="contact_container container">
    <h2 class="title-h2">Kontakt</h2>
    <div class="contact-content">
      <div class="contacts_content-top">
        <p>Skontaktuj się z nami za pomocą poczty elektronicznej</p>
        <div class="contacts_content-top-email">
          e-mail:
          <a href="mailto:info@fbjamakyyti.xyz">info@fbjamakyyti.xyz</a>
        </div>
      </div>
      <div class="contacts_content-bottom">
        <p>Lub wypełnij formularz,
          <span>a my skontaktujemy się z Tobą</span></p>
        <form class="contact-form">
          <label>Imię i nazwisko
            <input type="text" name="name" placeholder="Wpisz swoje imię i nazwisko" required />
          </label>

          <label>Adres e-mail
            <input type="email" name="email"  placeholder="Wpisz swój adres e-mail" required />
          </label>

          <button type="submit">Zarezerwuj saunę</button>
        </form>
    </div>
  </div>
</section>
