<section class="experience" id="experience">
  <div class="experience_container container">
    <h2 class="title-h2">Doświadczenie</h2>
    <div class="experience-content">
      <div class="swiper swiper-experience">
        <div class="swiper-wrapper swiper-wrapper-experience">

          <div class="swiper-slide swiper-slide-experience swiper-slide-experience-1">
            <h3>Mobilna sauna na wyłączność </h3>
            <p>Drewniana sauna z panoramicznym oknem, dowieziona w wybrane miejsce w lesie, tylko dla Ciebie i Twoich bliskich</p>
          </div>

          <div class="swiper-slide swiper-slide-experience swiper-slide-experience-2">
            <h3>Ceremonia pary i ziół</h3>
            <p>Saunamistrz poprowadzi Cię przez rytuały z użyciem naturalnych olejków i ziół zbieranych w okolicy</p>
          </div>

          <div class="swiper-slide swiper-slide-experience swiper-slide-experience-3">
            <h3>Zanurzenie w naturze</h3>
            <p>Po sesji możesz schłodzić się w strumieniu, położyć w hamaku i wypić ziołowy napar pod kocem</p>
          </div>

        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-experience"></div>
    </div>
    </div>
  </div>
</section>
