<header class="header">
  <div class="header_container container">
    <a href="./index.html" class="header-logo">
      <div class="header-logo-img">
        <img src="./img/logo.jpg" alt="logo" />
      </div>

      <span class="header-logo-text header-pages-color">Jamakyyti</span>
    </a>
    <nav class="header-nav-pc">
      <ul class="header-nav-pc-list">
        <li class="header-nav-pc-item">
          <a class="header-pages-color" href="./index.html">Nasza historia</a>
        </li>
        <li class="header-nav-pc-item">
          <a class="header-pages-color" href="./index.html">Doświadczenie</a>
        </li>
        <li class="header-nav-pc-item">
          <a class="header-pages-color" href="./index.html">Dlaczego wybrać Jamakyyti?</a>
        </li>
        <li class="header-nav-pc-item">
          <a class="header-pages-color" href="./index.html">Proces rezerwacji</a>
        </li>
        <li class="header-nav-pc-item">
          <a class="header-pages-color" href="./index.html">Log sauny</a>
        </li>
        <li class="header-nav-pc-item">
          <a class="header-pages-color" href="./index.html">Nasze kabiny</a>
        </li>
        <li class="header-nav-pc-item">
          <a class="header-pages-color" href="./index.html">Kontakt</a>
        </li>
      </ul>
    </nav>

    <a href="./index.html" class="header-pc-nav-element header-pages-color">Jamakyyti</a>

    <nav class="header-nav-mobile">
      <ul class="header-nav-mobile-list">
        <li class="header-nav-mobile-item">
          <a class="header-pages-color" href="./index.html">Nasza historia</a>
        </li>
        <li class="header-nav-mobile-item">
          <a class="header-pages-color" href="./index.html">Doświadczenie</a>
        </li>
        <li class="header-nav-mobile-item">
          <a class="header-pages-color" href="./index.html">Dlaczego warto wybrać Jamakyyti?</a>
        </li>
        <li class="header-nav-mobile-item">
          <a class="header-pages-color" href="./index.html">Proces rezerwacji</a>
        </li>
        <li class="header-nav-mobile-item">
          <a class="header-pages-color" href="./index.html">Log sauny</a>
        </li>
        <li class="header-nav-mobile-item">
          <a class="header-pages-color" href="./index.html">Nasze kabiny</a>
        </li>
        <li class="header-nav-mobile-item">
          <a class="header-pages-color" href="./index.html">Kontakt</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="header-nav-mobile-button">
      <span class="visually-hidden">Otwórz menu, zamknij menu</span>
      <svg style="fill:#341E14; stroke:#341E14" class="header-nav-mobile-button-open" width="24" height="24">
        <use href="./img/sprite.svg#icon-menu"></use>
      </svg>
      <svg
        class="header-nav-mobile-button-close is-hidden"
        width="24"
        height="24"
        style="fill:#341E14; stroke:#341E14"
      >
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</header>