<section class="history" id="history">
  <div class="history_container container">
    <h2 class="title-h2">Nasza historia</h2>
    <div class="history-content">
      <div class="history-left-content">
        <h3 class="history-text_title">
          Urzekająca i inspirująca historia pochodzenia.
        </h3>
        <p class="history_text">
          “Zaczęło się w Finlandii. Podczas podróży z tatą przez Laponię,
          spaliśmy w aucie, a jedynym źródłem ciepła była mała, przenośna sauna
          zrobiona z beczki. Tam po raz pierwszy zrozumieliśmy, że sauna to coś
          więcej niż pot – to rozmowa, to cisza, to rytuał. Po powrocie do
          Polski postanowiliśmy stworzyć Jamakyyti – projekt, który łączy
          dzikość lasu, ciepło drewna i starą tradycję z nowoczesną wygodą.”
        </p>
      </div>
      <img src="./img/history-sauna.jpg" alt="sauna" class="history_image" />
    </div>
  </div>
</section>
