<section class="log" id="log">
  <div class="log_container container">
    <h2 class="title-h2">Log sauny</h2>
    <div class="log_content">
      <h3 class="log-text_element">Opowieści z lasu</h3>
      <div class="swiper swiper-log">
        <div class="swiper-wrapper swiper-wrapper-log">
          <div class="swiper-slide swiper-slide-log swiper-slide-log-1">
            <p>"Mieliśmy tam wieczór panieński. Lepiej niż spa."</p>
            <h3>– Kasia</h3>
          </div>

          <div class="swiper-slide swiper-slide-log swiper-slide-log-2">
            <p>
              "Wzięliśmy ślub cywilny przy tej saunie. Było -5°C i pełnia.
              Czysta magia."
            </p>
            <h3>– Ula & Krzysztof</h3>
          </div>

          <div class="swiper-slide swiper-slide-log swiper-slide-log-3">
            <p>
              "Pojechaliśmy tam z babcią. Płakała. Powiedziała, że nie czuła się
              tak spokojna od 20 lat."
            </p>
            <h3>– Michał</h3>
          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-log"></div>
    </div>
  </div>
</section>
