<section class="process" id="process">
  <div class="process_container container">
    <h2 class="title-h2">Proces rezerwacji</h2>
    <div class="process_content">
      <div class="swiper swiper-process">
        <div class="swiper-wrapper swiper-wrapper-process">
          <div class="swiper-slide swiper-slide-process">
            <h3>Krok 1</h3>
            <p>Wybierz lokalizację (np. las, łąka, jezioro)</p>
          </div>

          <div class="swiper-slide swiper-slide-process">
            <h3>Krok 2</h3>
            <p>Określ liczbę osób i preferencje (zioła, cisza, muzyka)</p>
          </div>

          <div class="swiper-slide swiper-slide-process">
            <h3>Krok 3</h3>
            <p>Zarezerwuj i opłać online</p>
          </div>

          <div class="swiper-slide swiper-slide-process">
            <h3>Krok 4</h3>
            <p>Odbierz potwierdzenie z mapką i instrukcjami</p>
          </div>

          <div class="swiper-slide swiper-slide-process">
            <h3>Krok 5</h3>
            <p>Ciesz się swoją prywatną ceremonią natury!</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-process"></div>
    </div>
  </div>
</section>
