<section class="why-us" id="why-us">
  <div class="why-us_container container">
    <h2 class="title-h2">Dlaczego wybrać Jamakyyti?</h2>
    <ul class="why-us-list">
      <li class="why-us-item">
        <h3>Sauna w sercu przyrody</h3>
        <p>Rezerwujesz nie tylko kabinę, ale i lokalizację</p>
      </li>
      <li class="why-us-item">
        <h3>Rytuał, nie produkt</h3>
        <p>Każda sesja to prowadzony, spersonalizowany proces</p>
      </li>
      <li class="why-us-item">
        <h3>Zero infrastruktury</h3>
        <p>Nasze sauny są off-grid i ekologiczne</p>
      </li>
      <li class="why-us-item">
        <h3>Mobilność i intymność </h3>
        <p>Możemy dotrzeć w najbardziej urokliwe miejsca w Twojej okolicy.</p>
      </li>
      <li class="why-us-item">
        <h3>Tworzymy wspomnienia</h3>
        <p>Ludzie nie zapamiętują temperatury – zapamiętują atmosferę</p>
      </li>
    </ul>
  </div>
</section>
