.page-section {
	margin-top: 116px;
	margin-bottom: 80px;

	@media (min-width: 1440px) {
		margin-top: 183px;
		margin-bottom: 120px;
	}
}

.page-title {
	text-align: center;
	font-weight: 700;
	font-size: 28px;
	margin-bottom: 24px;

	@media (min-width: 1440px) {
		font-size: 48px;
		line-height: 1.3;
		margin-bottom: 56px;
	}
}

.page-title-h2 {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.3;

	@media (min-width: 1440px) {
		font-size: 32px;
	}
}

.page-title-h3 {
	font-weight: 600;
	font-size: 14px;
	line-height: 1.3;

	@media (min-width: 1440px) {
		font-size: 24px;
	}
}

.page-text {
	font-size: 14px;
	line-height: 1.3;

	@media (min-width: 1440px) {
		font-size: 24px;
	}
}

.page-list-item {
	font-size: 14px;
	line-height: 1.3;

	@media (min-width: 1440px) {
		font-size: 24px;
	}
}

.page-link {
	font-size: 14px;
	line-height: 1.3;
	color: #451403;

	@media (min-width: 1440px) {
		font-size: 24px;
	}
}

.page-margin-bottom {
	margin-bottom: 18px;

	@media (min-width: 1440px) {
		margin-bottom: 44px;
	}
}

.page-text-content {
	padding: 0 16px;

	@media (min-width: 1440px) {
		padding: 0 72px;
	}
}

.page-list-disc {
	padding-left: 20px;
	list-style: disc;
}
